@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Kanit', sans-serif;
    
}


header{
    background-color: #232946;
    color: #fff;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem; 
}
.logo-header{
    background-color: #4ad295;
    border-radius: 30px;
}
.logo-header img{
    width: 50px;
}
.nav-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.nav-menu li{
    margin-right: 1rem;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav-menu a{
    color: #fff;
}
.nav-menu li:last-child{
    background:#4ad295;
    padding: .25rem .75rem;
    border-radius: .2rem;
    opacity:0.9;
}
.nav-menu li:last-child:hover{
    background-color: #4ad295;
    opacity:1.5;

}
.nav-menu li:hover,
.nav-menu li:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);  
    
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}


@media (max-width:992px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top:70px;
        left:-100%;
        background: #232946;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
}

main{
    background-color: #232946;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: wheat;
}

#hero{
    margin-top: 20px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
#hero h1{
    font-size:48px;
    width: 75%;
    margin-bottom: 20px;
}
.cards-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card-title-h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-h{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    background-color: #343d68cb;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    height: 470px;
}
.card-img{
    width: 400px;
    border-radius: 20px;
}
.card-h h1{
    font-size: 48px;
    width: 70%;
    font-weight: 900;
    color: wheat;
}
.card-top{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
}
.card-specs a{
    text-decoration: none;
    outline: none;
    color: wheat;
}
.card-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
}


.card-specs{
    display: flex;
    flex-direction: row;
}
.card-bottom{
    padding: 0 30px;
}


#teclados{
    background-color: #343d68cb;
    margin-top: 20px;
    padding: 10px 0;
    max-width: 1200px;
    gap: 10px;
    margin: 10px;
    width: auto;
    border-radius: 25px;
    
}
#teclados h1{
    font-size:48px;
    width: 75%;
    margin-bottom: 20px;
    padding: auto;
}

.container {
    width: 1200px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 15px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6";
  }
  


  .card1 ,.card2 ,.card3, .card4, .card5, .card6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 30px;
    border-style: solid;
    border-color: #232946;
    border-width: 6px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
    border-radius: 20px;
  }
  
   button {
    border: none;
    outline: 0;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    width: 60%;
    font-size: 18px;
    border-radius: 20px;
    background-color: transparent;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
.teclado-img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    

}























/* tablet size */
@media screen and (max-width:992px){
    main{
        background-image: url(images/d942e6c5-90c8-4c0b-8228-7d52c04924e3.webp.webp);
    }
    header{
        width: 100%;
        
    }
    
    #hero{
        display: flex;
        flex-direction: column;
        width: 80%;
        
    }
    .card-h{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #teclados{
        display: flex;
        width: auto;
        flex-direction: column;
    }
}
